<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- metaTitle %></title>

    <meta property="title" content="<%- metaTitle %>" />
    <meta name="description" content="<%- metaDescription %>" />

    <meta itemprop="name" content="<%- metaTitle %>" />
    <meta itemprop="description" content="<%- metaDescription %>" />
    <meta itemprop="image" content="<%- metaImageURL %>" />

    <meta property="og:title" content="<%- metaTitle %>" />
    <meta property="og:description" content="<%- metaDescription %>" />
    <meta property="og:image" content="<%- metaImageURL %>" />
    <meta property="og:image:secure_url" content="<%- metaImageURL %>" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%- metaTitle %>" />
    <meta name="twitter:description" content="<%- metaDescription %>" />
    <meta name="twitter:image" content="<%- metaImageURL %>" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
